h1{
    text-align: center;
}
ul{
    list-style-type: none;
    margin:0;
    padding: 0;
    overflow:hidden;
}
li a{
    float:right;
    justify-content: center;
    color: black;
    padding: 16px;
    text-decoration: none;
    text-align: center;
}
li a:hover{
    background-color:white ;
}
.container{
    background-color: aqua;
}
h3{
    text-align: center; 
    background-color:white;
    border: solid;
    border-width: 1px;
    padding: 20px;
}